<div style="width: 80%; position: relative; left: 50%; transform: translate(-50%);">
  <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div style="margin: 0 20px; display: flex; flex-direction: column;">
          <img src="{{ slide.img }}" alt="" width="100%">
          <div>Footer</div>
        </div>
      </div>
  </ngx-slick-carousel>
</div>

<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button>
